[core]
	autocrlf = input
	editor = nvim

[user]
	name = Tomasz Śmigielski
	signingkey = /home/ts-pl/.ssh/id_rsa

[init]
	defaultBranch = main

[pull]
	rebase = true

[diff]
	prompt = true
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[gpg]
	format = ssh

[merge]
	conflictstyle = zdiff3
