* {
    border: none;
    font-family: FiraCode Nerd Font;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.visible {
    color: #BEC0C6;
}

#workspaces button.active {
    color: white;
}

#mpris {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-updates {
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#memory {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#cpu {
    padding-left: 12px;
    padding-right: 6px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature {
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#network {
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#custom-weather {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#backlight {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    padding-left: 12px;
    padding-right: 12px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
