configuration {
    modes: "drun,window,filebrowser";
    font: "Fira Sans 13";
    sort: true;
    show-icons: true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
@theme "/usr/share/rofi/themes/nord.rasi"
