configuration {
    modes: "drun,window";
    font: "Fira Sans 13";
    sort: true;
    show-icons: true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}
@theme "/usr/share/rofi/themes/nord.rasi"
